ENV =
PORT =

DATABASE_NAME =
DATABASE_TYPE =
DATABASE_HOST =
DATABASE_PORT =
DATABASE_USERNAME =
DATABASE_PASSWORD =

JWT_TOKEN_SECRET =
JWT_ACCESS_TOKEN_EXPIRY_HRS =
JWT_REFRESH_TOKEN_EXPIRY_HRS =

BASE_URL_UI =

AWS_ACCESS_KEY =
AWS_SECRET_KEY =
S3_BUCKET =
S3_INITIAL_PATH =

SIMPLE_EMAIL_OUT_HOST =
SIMPLE_EMAIL_OUT_PORT =
SIMPLE_EMAIL_USER =
SIMPLE_EMAIL_PASSWORD =
SIMPLE_EMAIL_FROM =
SIMPLE_EMAIL_OUT_SECURE =